assets/
protected/runtime/
themes/classic/views/
#protected/config/
files/
images/
*.log
sipesq/protected/config/main.php

#SIPESQ

sipesq/protected/runtime/
#sipesq/protected/config/
sipesq/protected/assets/
